In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame({'key1':['a','a','b','b','a'],
                 'key2':['one','two','one','two','one'],
                  'data1':np.random.randn(5),
                  'data2':np.random.randn(5)})

In [7]:
df

  key1 key2     data1     data2
0    a  one -1.145298  2.758490
1    a  two  1.176052  0.853066
2    b  one  0.957761 -1.338090
3    b  two  0.689728 -1.015459
4    a  one -0.469721  0.816443

In [24]:
df.groupby(["key1","key2"])["data1"].count()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
Name: data1, dtype: int64

In [27]:
df.groupby(by = ["key1","key2"],as_index = True ,squeeze = False)

C:\Users\13670\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The `squeeze` parameter is deprecated and will be removed in a future version.
  """Entry point for launching an IPython kernel.

In [9]:
for name,group in df.groupby('key1'):
    print(name)
    print(group)
    print("+++++++++++++")

a
  key1 key2     data1     data2
0    a  one -1.145298  2.758490
1    a  two  1.176052  0.853066
4    a  one -0.469721  0.816443
+++++++++++++
b
  key1 key2     data1     data2
2    b  one  0.957761 -1.338090
3    b  two  0.689728 -1.015459
+++++++++++++

In [10]:
for name in df.groupby('key1'):
    print(name)

('a',   key1 key2     data1     data2
0    a  one -1.145298  2.758490
1    a  two  1.176052  0.853066
4    a  one -0.469721  0.816443)
('b',   key1 key2     data1     data2
2    b  one  0.957761 -1.338090
3    b  two  0.689728 -1.015459)

In [11]:
for name,group in df.groupby(['key1','key2']):
    print(name)
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one -1.145298  2.758490
4    a  one -0.469721  0.816443
('a', 'two')
  key1 key2     data1     data2
1    a  two  1.176052  0.853066
('b', 'one')
  key1 key2     data1    data2
2    b  one  0.957761 -1.33809
('b', 'two')
  key1 key2     data1     data2
3    b  two  0.689728 -1.015459

In [15]:
pieces = dict(list(df.groupby('key1')))

dict_values([  key1 key2     data1     data2
0    a  one -1.145298  2.758490
1    a  two  1.176052  0.853066
4    a  one -0.469721  0.816443,   key1 key2     data1     data2
2    b  one  0.957761 -1.338090
3    b  two  0.689728 -1.015459])

In [16]:
df.dtypes

key1      object
key2      object
data1    float64
data2    float64
dtype: object

In [19]:
grouped=df.groupby(df.dtypes,axis=1)
dict(list(grouped))

{dtype('float64'):       data1     data2
 0 -1.145298  2.758490
 1  1.176052  0.853066
 2  0.957761 -1.338090
 3  0.689728 -1.015459
 4 -0.469721  0.816443,
 dtype('O'):   key1 key2
 0    a  one
 1    a  two
 2    b  one
 3    b  two
 4    a  one}

In [20]:
grouped1=df.groupby(df.dtypes)
dict(list(grouped1))

{}

In [21]:
list(grouped)

[(dtype('float64'),
        data1     data2
  0 -1.145298  2.758490
  1  1.176052  0.853066
  2  0.957761 -1.338090
  3  0.689728 -1.015459
  4 -0.469721  0.816443),
 (dtype('O'),
    key1 key2
  0    a  one
  1    a  two
  2    b  one
  3    b  two
  4    a  one)]